{{ 'section-rotating-products.css' | asset_url | stylesheet_tag }}

{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "cellAlign": "left",
  "imagesLoaded": true,
  "adaptiveHeight": true,
}
{%- endcapture -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '750, 1100, 1500, 1780, 2000, 3000, 3840'
-%}
<div class="color-{{ section.settings.color_scheme }}">
  <div class=" fullPageBG color-{{ section.settings.color_scheme }} page-width">
    <div class="rotatingProductsContainer {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} color-{{ section.settings.color_scheme }}">
      <h2 class="rotating-products-heading">{{ section.settings.heading }}</h2>
      <div class="slideBG">
        <div class="rotating-products-carousel carousel js-flickity" data-flickity="{{ flickity_options | json }}">
          {% for block in section.blocks %}
            <div class="carousel-slide">
              <div class="slide-image slide-image-{{ forloop.index }}">
                {%- liquid
                  assign image_height_desktop = section.settings.topImage_dekstop.width | divided_by: section.settings.topImage_dekstop.aspect_ratio
                  assign image_height_mobile = section.settings.topImage_mobile.width | divided_by: section.settings.topImage_mobile.aspect_ratio
                  assign sizes_desktop = full_width
                  assign sizes_mobile = full_width
                -%}
                <style>
                        .slide-image-{{ forloop.index }} {
                          background-image: url({{ block.settings.topImage_desktop | img_url: '467x'}});
                            display:flex;
                            loading: 'lazy',
                  width: {{section.settings.topImage_dekstop.width}},
                  height: image_height_desktop,
                  class: image_class,
                  sizes: sizes_desktop,
                  widths: widths
                        }

                        @media (max-width: 767px) {
                          .slide-image-{{ forloop.index }} {
                            background-image: url({{ block.settings.topImage_mobile | img_url: '600x'}});
                                      loading: 'lazy',
                  width: section.settings.topImage_mobile.width,
                  height: image_height_mobile,
                  class: image_class,
                  sizes: sizes_mobile,
                  widths: widths
                          }
                        }
                </style>
              </div>
              <div class="slide-content">
                <div class="slide-content--header">
                  <h2>{{ block.settings.heading }}</h2>
                  <p class="productDescription">{{ block.settings.subheading }}</p>
                </div>
                <div class="rotatingProducts__productImages">
                  <ul class="product-block-list">
                    {% if block.settings.productImage1_desktop != blank %}
                      <li>
                        <a href="{{ block.settings.product-url1 }}">
                        <div class="product-block">
                          <div class="product-block-image">
                            <img
                              id="image_desktop-1"
                              src="{{ block.settings.productImage1_desktop | img_url: '600x'}}"
                              alt="{{  block.settings.productImage1.alt }}"
                            >
                            <img
                              id="image_mobile-1"
                              src="{{ block.settings.productImage1_mobile | img_url: '600x'}}"
                              alt="{{  block.settings.productImage1.alt }}"
                            >
                          </div>
                          <p>{{ block.settings.productName1 }}</p>
                        </div>
                        </a>
                      </li>
                    {% endif %}
                    {% if block.settings.productImage2 != blank %}
                      <li>
                                                <a href="{{ block.settings.product-url2 }}">
                        <div class="">
                          <div class="product-block-image product-block-image-mobile">
                            <img
                              id="image_desktop-2"
                              src="{{ block.settings.productImage2_desktop | img_url: '600x'}}"
                              alt="{{  block.settings.productImage2.alt }}"
                            >
                            <img
                              id="image_mobile-2"
                              src="{{ block.settings.productImage2_mobile | img_url: '600x'}}"
                              alt="{{  block.settings.productImage2.alt }}"
                            >
                          </div>
                          <p>{{ block.settings.productName2 }}</p>
                        </div>
                                                </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Rotating Products",
  "settings": [
    {
      "type": "text",
      "id":"heading",
      "label": "Heading",
      "default": "Overall Heading"
    },{
      "type":"text",
      "id":"id",
      "label": "Section Identifier",
      "default":"0"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "Auto Rotate",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "Speed",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ],
  "blocks":[
    {
    "type": "column",
      "name": "Product Page",
      "settings":[
        {
      "type": "text",
      "id":"heading",
      "label": "Heading",
      "default": "Product Title"
    },
        {
      "type": "text",
      "id":"subheading",
      "label": "Subheading",
      "default": "Product Description"
    },
    {
      "type": "image_picker",
      "id": "topImage_desktop",
      "label": "Large Product Image - Desktop"
    },    {
      "type": "image_picker",
      "id": "topImage_mobile",
      "label": "Large Product Image - Mobile"
    },
        {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },        {
          "type": "image_picker",
          "id":"productImage1_desktop",
          "label": "Product Image 1 - Desktop"
        },
           {
          "type": "image_picker",
          "id":"productImage1_mobile",
          "label": "Product Image 1 - Mobile"
        },
        {
          "type": "text",
          "id": "productName1",
          "label": "Product Name 1",
          "default": "Product Name"

        },        {
          "type": "url",
          "id": "product-url1",
          "label": "Product URL"
        },        {
          "type": "image_picker",
          "id":"productImage2_desktop",
          "label": "Product Image 2 - Desktop"
        },
            {
          "type": "image_picker",
          "id":"productImage2_mobile",
          "label": "Product Image 2 - Mobile"
        },
        {
          "type": "text",
          "id": "productName2",
          "label": "Product Name 2",
          "default": "Product Name"

        },        {
          "type": "url",
          "id": "product-url2",
          "label": "Product URL"
        }

      ]
    }
  ],
  "presets":[
    {
      "name": "Rotating Products"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
